.card{
    width: 195px;
    height: 690px;
    background-color: #8FBC8F;
    border-radius: 10px;
    border-color: blue;
    border-style: solid;
    border-weight: 5px;
    border-radius: 5px;
    transition: 1s;
}

.card :hover{
    background-color: #20B2AA;
    transition: 1s;
}

.photo{
    padding: 2px;
    margin: 1px 0;
}

.name{
    padding: 2px;
    width: 95%;
    font-family: Courier New, monospace;
    font-size: 14px;
    margin: 1px 0;

}

.surname{
    padding: 2px;
    width: 95%;
    font-family: Courier New, monospace;
    font-size: 14px;
    margin: 1px 0;

}

.date_of_birth{
    padding: 2px;
    width: 95%;
    font-family: Courier New, monospace;
    font-size: 14px;
    margin: 1px 0;

}

.city{
    padding: 2px;
    width: 95%;
    font-family: Courier New, monospace;
    font-size: 14px;
    margin: 1px 0;
}

.data{
    padding: 2px;
    width: 95%;
    font-family: URW Chancery L, cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    margin: 1px 0;
}
.data_2{
    padding: 2px;
    width: 95%;
    font-family: URW Chancery L, cursive;
    font-size: 16px;
    text-align: center;
    font-style: italic;
    margin: 1px 0;
}