td {
    background-color: pink;
    text-align: center;
}

#number_1 {
    background-color: red;
    text-align: center;
}

.head {
    background-color: yellow;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    height: 140px
}

.string {
    text-align: center;
    font-size: 18px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-style: italic;
    font-weight: bold;
    height: 120px;
    border-color: red;
    border-style: solid;
    border-weight: 5px;
    border-radius: 5px;

}